/* Mapbox map styles */
.map-container {
  height: 50vh;
  width: 100%;
  background: whitesmoke;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-canvas {
  left: 0;
}
