html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anonymous Pro', monospace;
}

.app {
  width: 100%;
}

.map {
  height: 300px;
  border-radius: 5px;
  border: 2px solid slategray;
}

main {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}


.title {
  margin: 0;
  margin-bottom: 1rem;

}

.example {
  margin-bottom: 2rem;
}


.logo a {
  text-decoration: none;
  color: inherit;
}

.logo a:hover {
  color: slategray;
  transition: all 0.1s ease;
}